.board-square {
  background-color: #fff;
  color: #3085c3;
  height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
}

button {
  border: 1px solid #beb9b9;
  cursor: pointer;
}

button:hover {
  border-color: #213555;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
